@import "~reset.css";

@import "./markdown.css";

*, *:before, *:after {
  box-sizing: border-box;
}

html, body, #app-mount {
  height: 100%;
  width: 100%;
}

.app textarea,
.app .lite-markdown.is-example {
  float: left;

  width: 50vw;
  height: 100vh;

  overflow: auto;
}

.app textarea {
  margin: 0;
  padding: 2em;

  background: #F9F9F9;
  border: none;
  outline: none;

  font-size: 1em;

  resize: none;
}

.app .lite-markdown.is-example {


  margin-left: auto;
  padding: 2em;
}
